.node {
  height: 25px;
  width: 25px;
  outline: solid black 1px;
  margin: 0.5px;
}

.start-node {
  background-color: green;
}

.finish-node {
  background-color: red;
}

.wall-node {
  background-color: black;
}

.shortest-path-node {
  background-color: orange;
}

.visited-node {
  background-color: blue;
}
